offer-form {
  ion-app, ion-content {
    background-color: transparent !important;
  }

  .type-label {
    text-align: center;
  }

  .select-grid-item {
    margin-top: 20px;
  }

  .icon-form {
    cursor: pointer;
  }

  .swiper-container {
    height: 200px !important;
  }
}