<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'ADD' | translate }} {{ 'OFFER' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content no-padding>

      <form id="offerForm" [formGroup]="offerForm" (ngSubmit)="upsertOffer()">

        <ion-item>
          <ion-label>{{ 'THIRD_PARTY' | translate}}</ion-label>
          <ion-toggle formControlName="thirdParty" checked="false"></ion-toggle>
        </ion-item>

        <ion-item class="select-grid-item">
          <ion-label>{{ 'OFFER_TYPE' | translate }}</ion-label>
          <ion-select formControlName="type" interface="popover">
            <ion-option [value]="item.value" *ngFor="let item of typeOptions">{{item.text | translate}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="select-grid-item">
          <ion-label>{{ 'BUSINESS_TYPE.VALUE' | translate }}</ion-label>
          <ion-select formControlName="businessType" interface="popover">
            <ion-option [value]="item.value" *ngFor="let item of businessTypeOptions">{{item.text | translate}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-list inset>
          <button type="button" ion-button block color="primary" (click)="manageImages()" text-capitalize>
            <ion-icon name="camera"></ion-icon>&nbsp;{{ 'MANAGE_IMAGES' | translate }}
          </button>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'NAME' | translate }} *</ion-label>
            <ion-input type="text" formControlName="name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'NEIGHBORHOOD' | translate }} *</ion-label>
            <ion-input type="text" formControlName="neighborhood" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'DEPARTMENT' | translate }}</ion-label>
            <ion-input type="text" formControlName="department"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'CITY' | translate }} *</ion-label>
            <ion-input type="text" formControlName="city" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'ADDRESS' | translate }}</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>

          <ion-item>
            <button type="button" ion-button outline block color="secondary" (click)="openMap()" text-capitalize>
              <ion-icon item-right name="map" color="secondary" class="icon-form" (click)="openMap()"></ion-icon>
              {{ 'MAP' | translate }}
            </button>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'PRICE' | translate }} *</ion-label>
            <ion-input type="number" formControlName="price" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'ADMINISTRATION' | translate }} *</ion-label>
            <ion-input type="number" formControlName="administration"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'AREA' | translate }} m<sup>2</sup> *</ion-label>
            <ion-input type="number" formControlName="area"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary">{{ 'DETAIL' | translate }} *</ion-label>
            <ion-textarea formControlName="description" name="description"></ion-textarea>
          </ion-item>

        </ion-list>

        <button type="button" (click)="showComponents = !showComponents" ion-button outline block text-capitalize>
            {{ (showComponents)? ('HIDE' | translate) : ('SHOW'| translate) }} {{ 'ADDITIONAL_INFO' | translate }}
        </button>

        <ion-grid formGroupName="components" [hidden]="!showComponents">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="secondary" floating>{{ 'ROOMS' | translate }}</ion-label>
                <ion-input type="number" formControlName="rooms"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label color="secondary" floating>{{ 'BATHROOMS' | translate }}</ion-label>
                <ion-input type="number" formControlName="bathrooms"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label color="secondary" floating>{{ 'PARKINGS' | translate }}</ion-label>
                <ion-input type="number" formControlName="parkings"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item class="select-grid-item">
                <ion-label color="secondary">{{ 'SOCIAL_STRATUM' | translate }}</ion-label>
                <ion-select formControlName="socialStratum" interface="popover">
                  <ion-option [value]="option.value" *ngFor="let option of stratumOptions">{{option.text | translate}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item class="select-grid-item">
                <ion-label color="secondary">{{ 'ANTIQUITY.VALUE' | translate }}</ion-label>
                <ion-select formControlName="antiquity" interface="popover">
                  <ion-option [value]="option.value" *ngFor="let option of antiquityOptions">{{option.text | translate}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>

  </ion-card>
  <ion-fab bottom right>
    <button ion-fab [disabled]="!offerForm.valid" form="offerForm">
      <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
    </button>
  </ion-fab>
</ion-content>
