<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LOGIN' | translate }}</ion-title>

    <ion-buttons start [hidden]="!isModal">
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content class="login-container">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-input type="email" placeholder="{{ 'EMAIL' | translate }}" [(ngModel)]="account.email" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="{{ 'PASSWORD' | translate }}" [(ngModel)]="account.password" name="password" required></ion-input>
      </ion-item>
    </ion-list>

    <button padding ion-button block icon-left text-capitalize>
      <ion-icon name="log-in"></ion-icon>
      &nbsp; {{ 'LOGIN' | translate }}
    </button>

    <ion-item>
      <p>
        No tienes una cuenta ? Regístrate
      </p>
    </ion-item>

    <button type="button" color="secondary" (click)="goToSignUp()" ion-button block icon-left text-capitalize padding>
      <ion-icon name="person-add"></ion-icon>
      &nbsp; {{ 'SIGNUP' | translate }}
    </button>

    <br>
    <br>

    <button ion-button type="button" block icon-left color="secondary" (click)="resetPassword()" clear text-capitalize>
      <ion-icon name="help"></ion-icon>
      &nbsp; Olvidé mi contraseña
    </button>

    <button type="button" *ngIf="isModal" color="dark" (click)="dismiss()" clear ion-button block icon-left text-capitalize padding>
        <ion-icon name="close"></ion-icon>
        &nbsp; {{ 'CANCEL' | translate }}
      </button>

  </form>
</ion-content>