no-auth {
    ion-card {
        margin-top: 5em !important;
    }

    .no-auth-title {
        color: #448AFF !important;
        white-space: unset;
    }
    .info-content {
        text-align: justify !important;
    }
}

@media (min-width: 768px) {
    no-auth {
      .no-auth-title {
        font-size: 2.5em;
      }
      .no-auth-content > p {
        font-size: 1.5em;
      }
      .no-auth-content > button {
        font-size: 1.3em;
      }
    }
  }
