<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-md-6 col-sm-12 offset-md-3>
        <ion-card padding>

          <ion-card-header class="no-auth-title">
            Ohh vaya, parece que no estás autenticado.
          </ion-card-header>

          <ion-card-content class="no-auth-content">
            <p>
              Este módulo está disponible únicamente para usuarios autenticados, pero no te preocupes, puedes hacerlo en este
              momento y lo mejor... es totalmente <b>GRATIS</b>.
            </p>
            <br>
            <p>
              Para autenticarte, da click en el botón <b>Autenticarme</b> y disfruta de los módulos que Social Business tiene para ti.
            </p>
            
            <br>
            <button color="primary" (click)="openAuthModal()" ion-button block padding text-capitalize>
              <ion-icon name="log-in"></ion-icon>
              &nbsp; Autenticarme
            </button>

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>