<ion-header>

  <ion-navbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-card-content>
      <form id="profileForm" [formGroup]="profileForm" (ngSubmit)="upsertProfile()">
        <ion-list>
          <ion-item>
            <ion-label color="secondary" floating>{{ 'EMAIL' | translate }} *</ion-label>
            <ion-input type="text" formControlName="email" disabled></ion-input>
          </ion-item>

          <!-- <ion-item>
            <ion-label color="secondary" floating>{{ 'IDENTIFICATION' | translate }} *</ion-label>
            <ion-input type="text" formControlName="identification" disabled></ion-input>
          </ion-item> -->

          <ion-item>
            <ion-label color="secondary" floating>{{ 'NAME' | translate }} *</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'LAST_NAME' | translate }} *</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'PHONE' | translate }}</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'CELL_PHONE' | translate }} *</ion-label>
            <ion-input type="text" formControlName="cellPhone"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'CITY' | translate }} *</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label color="primary">Inmobiliaría ?</ion-label>
          <ion-toggle checked="{{hasRealState}}" (ionChange)="hasRealState = !hasRealState; clearRealState()"></ion-toggle>
        </ion-item>


        <ion-list formGroupName="realState" [hidden]="!hasRealState">
          <ion-item>
            <ion-label color="primary" floating>{{ 'NAME_REAL_STATE' | translate }} *</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" floating>{{ 'NIT' | translate }} *</ion-label>
            <ion-input type="text" formControlName="nit"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" floating>{{ 'PHONE' | translate }} *</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>
        </ion-list>

      </form>

      <ion-row>
        <ion-col col-md-4 offset-md-4>

          <button padding ion-button icon-left block text-capitalize [disabled]="!profileForm.valid" form="profileForm">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            &nbsp;{{ 'SAVE' | translate }}
          </button>
        </ion-col>
      </ion-row>

    </ion-card-content>

  </ion-card>
</ion-content>