<ion-header>

  <ion-navbar>
    <ion-title>{{ 'IMAGES' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="showCancelDialog()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card class="image-gallery" *ngFor="let item of grid">
    <div style="position: relative">
      <img [src]="item.image | sanitizer" *ngIf="item.image" class="image-grid">
      <img src="./assets/img/blank.png" *ngIf="!item.image" class="image-grid">
      <ion-fab right top>
        <button ion-fab mini>
            <ion-icon name="checkmark-circle" *ngIf="item.uploaded"></ion-icon>
            <ion-icon name="cloud-upload" *ngIf="!item.uploaded"></ion-icon>
          </button>
      </ion-fab>
    </div>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small [disabled]="!item.image" >
             <ion-icon name="eye"></ion-icon>
            <div>Preview</div>
          </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small [disabled]="!item.image" (click)="showConfirmRemove(item)" >
            <ion-icon name="trash"></ion-icon>
            <div>Remove</div>
          </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-fab bottom right>
    <button ion-fab [disabled]="this.galleryImages.length <= 0" (click)="confirmDismiss(true)">
      <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="center">
      <button ion-button (click)="uploadFromGallery()" color="secondary" text-capitalize>
        <ion-icon name="images"></ion-icon>
        &nbsp;{{ 'LOAD_IMAGES' | translate }}
      </button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
