page-settings {
    .text-center {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }
}

@media (min-width: 768px) {
    page-settings {
        .list-container {
            padding: 3em !important;
        }
        h2 {
            font-size: 2.5em !important;
        }
        h4 {
            font-size: 1.5em !important;
        }
    }
  }


