<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content [hidden]="!(authUser | async)?.uid">
  <ion-list class="list-container" padding>
    <ion-item-group>
      <ion-item-divider color="primary">
        {{(user | async)?.name}} {{(user | async)?.lastName}}
      </ion-item-divider>
      <!-- <ion-item class="text-center" color="primary"> -->
      <!-- <ion-thumbnail item-start>
        <img [hidden]="(user | async)?.image" src="./assets/img/blank.png" alt="profile Image">
        <img *ngIf="(user | async)?.image" src="{{(user | async)?.image}}" alt="profile Image">
      </ion-thumbnail> -->
      <!-- <h2 color="secondary text-center">{{(user | async)?.name}} {{(user | async)?.lastName}} </h2>
      </ion-item> -->
      <!-- <ion-item>
      <ion-icon name="body" color="primary" item-start></ion-icon>
      <h4>{{(user | async)?.identification}}</h4>
    </ion-item> -->
      <ion-item>
        <ion-icon name="call" item-start color="primary"></ion-icon>
        {{(user | async)?.cellPhone}}
      </ion-item>
      <ion-item>
        <ion-icon name="mail" item-start color="primary"></ion-icon>
        {{(user | async)?.email}}
      </ion-item>
      <ion-item>
        <ion-icon name="navigate" item-start color="primary"></ion-icon>
        {{(user | async)?.city}}
      </ion-item>
      <ion-item>
        <ion-icon name="" item-start color="primary" class="code-icon">#</ion-icon>
        {{(user | async)?.code}}
      </ion-item>
    </ion-item-group>

    <ion-item-group *ngIf="(user | async)?.realState">
      <ion-item-divider color="secondary">
        Información de Inmobiliaría
      </ion-item-divider>
      <ion-item>
        <ion-icon name="home" item-start color="secondary"></ion-icon>
        <h4>{{(user | async)?.realState.name}}</h4>
      </ion-item>
      <ion-item>
        <ion-icon name="body" item-start color="secondary"></ion-icon>
        <h4>{{(user | async)?.realState.nit}}</h4>
      </ion-item>
      <ion-item>
        <ion-icon name="call" item-start color="secondary"></ion-icon>
        <h4>{{(user | async)?.realState.phone}}</h4>
      </ion-item>
    </ion-item-group>

    <ion-item text-center>
      <ion-row>
        <ion-col col-md-4 offset-md-4>
          <button ion-button icon-left block color="secondary" (click)="editProfile()" text-capitalize>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            &nbsp;{{ 'EDIT' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<no-auth *ngIf="!(authUser | async)?.uid"></no-auth>

<ion-footer [hidden]="!(authUser | async)?.uid">
  <ion-toolbar>
    <ion-row>
      <ion-col col-md-6 offset-md-3>
        <button ion-button block (click)="logout()" text-capitalize>
          <i class="fa fa-power-off" aria-hidden="true"></i>
          &nbsp;{{ 'LOGOUT' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>