<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'MAP' | translate }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="showConfirmDialog()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <input id="mapInput" #mapInput class="controls" type="text" placeholder="{{ 'SEARCH' | translate }}">
  <div #map id="map"></div>

  <ion-fab bottom right>
    <button ion-fab (click)="confirmDismiss(true)">
      <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
    </button>
  </ion-fab>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button icon-start start small (click)="setLocation()" text-capitalize>
      <ion-icon name="flag"></ion-icon>
      {{ 'SET_LOCATION' | translate }}
    </button>

    <button class="btn-danger" ion-button icon-end end small (click)="clearMap()" text-capitalize>
      {{ 'CLEAR_MAP' | translate }}
      <ion-icon name="remove-circle"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
