<ion-header>
  <ion-navbar color="primary">
    <ion-title>Noticias</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card color="secondary">

    <ion-card-header>
      Noticias
    </ion-card-header>

    <ion-card-content>
      Aquí encontraras información de nuestros eventos, novedades y nuevas funcionalidades.
    </ion-card-content>

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 *ngFor="let new of news | async" class="col-card">
        <ion-card>
          <img *ngIf="new.image" [src]="new.image" />
          <ion-card-content>
            <ion-card-title color="primary">
              {{new.title}}
            </ion-card-title>
            <p style="text-align: justify">
              {{new.description}}
            </p>
          </ion-card-content>
          <ion-row>
            <ion-col col-md-6 offset-md-3 text-center>
              <button ion-button icon-left block clear small (click)="openLink(new.link)" text-capitalize>
                <ion-icon name="search"></ion-icon>
                <div>Detalle</div>
              </button>
            </ion-col>
          </ion-row>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card color="secondary" (click)="openLink('http://socialbusiness.com.co/rednacional/')">

    <ion-card-header>
      Conoce Social Business
    </ion-card-header>

    <ion-card-content>
      Conócenos y encuentra las herramientas que traemos para ti.
    </ion-card-content>

  </ion-card>
</ion-content>