page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  .slide-title {
    color: #9c27b0
  }

}

@media (min-width: 768px) {
  page-tutorial {
    p {
      text-align: center;
      font-size: 1.2em;
    }
    .slide-zoom {
      width: 60% !important;
    }
  }
}


