<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button text-capitalize (click)="startApp()" color="primary">
        <ion-icon name="skip-forward"></ion-icon>
        &nbsp;{{ 'SKIP' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" (ionWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/ready.png" class="slide-image" />
      <h2 class="slide-title">{{ 'SLIDE4_TITLE' | translate }}</h2>
      <p [innerHTML]="'SLIDE4_DESCRIPTION' | translate"></p>
      <button ion-button icon-right large clear (click)="startApp()">
        {{ 'CONTINUE' | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
