<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      Social Business
    </div>
    <div class="splash-content">
      Red Nacional de Profesionales Inmobiliarios.
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="login()" class="login" text-capitalize>
      <ion-icon name="log-in"></ion-icon>
      &nbsp; {{ 'LOGIN' | translate }}
    </button>
    <button ion-button block (click)="signup()" color="secondary" class="signup" text-capitalize>
      <ion-icon name="person-add"></ion-icon>
      &nbsp; {{ 'SIGNUP' | translate }}
    </button>
    <button ion-button block (click)="skip()" color="dark" clear text-capitalize>
      <ion-icon name="skip-forward"></ion-icon>
      &nbsp; {{ 'SKIP' | translate }}
    </button>
  </div>
</ion-content>
