page-welcome {
  .splash-bg {
    position: relative;
    background: url('../assets/img/banner.jpg') no-repeat transparent;
    background-size: cover;
    height: 40%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 20s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/logo/logo.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 20px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  .splash-content {
    color: #979494;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    font-size: 1.3em;
  }
}

@media (min-width: 768px) {
  page-welcome {
    .splash-intro {
      font-size: 2em;
    }
    .splash-content {
      font-size: 2.5em;
    }
  }
}

