<ion-header>

  <ion-navbar>
    <ion-title>{{ 'WELCOME' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
            <span ion-text color="primary" showWhen="ios">{{ 'CLOSE' | translate }}</span>
            <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{uniqueCode}}
    </ion-card-header>
    <ion-card-content>
      <p class="justify-text">
        Bienvenido a <b class="bolt">Social Business</b>, a partir de este momento haces parte de
        <b class="bolt"> La Red Nacional de Profesionales Inmobiliarios </b> tu código único de profesional es {{uniqueCode}},
        escríbelo y compártelo a tus demás colegas, si lo olvidas en la parte de ajustes podrás encontrarlo.
      </p>
      <br />
      <p class="justify-text">
        Es un placer contar con tu perfil profesional en la red, esperamos que disfrutes la plataforma y no dudes comunicarte con
        nosotros para cualquier, duda, inquietud o inconveniente.
      </p>
    </ion-card-content>

    <button type="button" color="dark" (click)="dismiss()" clear ion-button block icon-left text-capitalize padding>
        <ion-icon name="close"></ion-icon>
        &nbsp; {{ 'CLOSE' | translate }}
      </button>
  </ion-card>
</ion-content>