<ion-header>
  <ion-navbar>
    <ion-title>{{ 'RESET_PASSWORD' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-container">

  <ion-card color="secondary" *ngIf="showConfirm">

    <ion-card-header>
      Solicitud enviada !.
    </ion-card-header>

    <ion-card-content class="confirm-content">
      Hemos enviado un correo a {{email}}, por favor revisa tu bandeja de correo y sigue las instrucciones.
    </ion-card-content>

  </ion-card>

  <form (ngSubmit)="resetPassword()" #loginForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-input type="email" placeholder="{{ 'EMAIL' | translate }}" [(ngModel)]="email" name="name" required></ion-input>
      </ion-item>
    </ion-list>

    <button padding ion-button block text-capitalize>
      {{ 'RESET_PASSWORD' | translate }}
    </button>
  </form>

</ion-content>