page-signup {

    .social-buttons {
		margin: auto;
		width: 95%;
		margin-bottom: 5px;
	}

	.facebook {
		background-color: #3b5998;
	}

	.google {
		background-color: #d34836;
	}

	form {
		width: 90%;
	}
}
