<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>

    <ion-card-content>
      <form id="accountForm" [formGroup]="accountForm" (ngSubmit)="doSignup()">
        <ion-list inset>
          <ion-item>
            <ion-label color="secondary" floating>{{ 'EMAIL' | translate }} *</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <form-error *ngIf="accountForm.controls.email.errors?.required && accountForm.controls.email?.touched" message="Este campo es requerido"></form-error>
          
          <ion-item>
            <ion-label color="secondary" floating>{{ 'PASSWORD' | translate }} *</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <form-error *ngIf="accountForm.controls.password.errors?.required && accountForm.controls.password?.touched" message="Este campo es requerido"></form-error>
          
          <!-- <ion-item>
            <ion-label color="secondary" floating>{{ 'IDENTIFICATION' | translate }} *</ion-label>
            <ion-input type="text" formControlName="identification"></ion-input>
          </ion-item> -->
          
          <ion-item>
            <ion-label color="secondary" floating>{{ 'NAME' | translate }} *</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <form-error *ngIf="accountForm.controls.name.errors?.required && accountForm.controls.name?.touched" message="Este campo es requerido"></form-error>
          
          <ion-item>
            <ion-label color="secondary" floating>{{ 'LAST_NAME' | translate }} *</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
          <form-error *ngIf="accountForm.controls.lastName.errors?.required && accountForm.controls.lastName?.touched" message="Este campo es requerido"></form-error>
          
          <ion-item>
            <ion-label color="secondary" floating>{{ 'PHONE' | translate }}</ion-label>
            <ion-input type="number" formControlName="phone"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="secondary" floating>{{ 'CELL_PHONE' | translate }} *</ion-label>
            <ion-input type="number" formControlName="cellPhone"></ion-input>
          </ion-item>
          <form-error *ngIf="accountForm.controls.cellPhone.errors?.required && accountForm.controls.cellPhone?.touched" message="Este campo es requerido"></form-error>
          

          <ion-item>
            <ion-label color="secondary" floating>{{ 'CITY' | translate }} *</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
          </ion-item>
          <form-error *ngIf="accountForm.controls.city.errors?.required && accountForm.controls.city?.touched" message="Este campo es requerido"></form-error>
          
        </ion-list>

        <ion-item>
          <ion-label color="primary">Inmobiliaría ?</ion-label>
          <ion-toggle checked="hasRealState" (ionChange)="hasRealState = !hasRealState"></ion-toggle>
        </ion-item>

        <ion-list formGroupName="realState" [hidden]="!hasRealState">
          <ion-item>
            <ion-label color="primary" floating>{{ 'NAME_REAL_STATE' | translate }} *</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label color="primary" floating>{{ 'NIT' | translate }} *</ion-label>
            <ion-input type="text" formControlName="nit"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" floating>{{ 'PHONE' | translate }} *</ion-label>
            <ion-input type="number" formControlName="phone"></ion-input>
          </ion-item>
          
        </ion-list>

      </form>

      <button padding ion-button block text-capitalize [disabled]="!accountForm.valid" form="accountForm">
			  {{ 'SIGNUP' | translate }}
      </button>

    </ion-card-content>

  </ion-card>

  <!-- <ion-row padding>
      <button type="button" ion-button disabled block text-capitalize class="social-buttons facebook">
					<ion-icon name="logo-facebook"></ion-icon>
					&nbsp; Facebook
				</button>
    </ion-row>

    <ion-row padding>
      <button type="button" ion-button disabled block text-capitalize class="social-buttons google">
					<ion-icon name="logo-google"></ion-icon>
					&nbsp; Google
				</button>

    </ion-row> -->
</ion-content>
