<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'OFFERS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg" [hidden]="!(user | async)?.uid">
  <ion-grid>
    <ion-row>
      <ion-col col-md-6 col-sm-12 offset-md-3>

        <ion-card [hidden]="(offers | async)?.length > 0" padding>
          <ion-card-header class="info-title">
            Ofertas
          </ion-card-header>
          <ion-card-content class="info-content">
            Aquí encontraras los inmuebles que hayas creado, podrás editarlo y compartir el link con tus colegas y/o clientes. para empezar
            a crear un inmueble dale en el botón:
            <button ion-fab color="secondary" (click)="goToAddOffer()"><ion-icon name="add"></ion-icon></button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col col-md-6 col-sm-12 *ngFor="let offer of offers | async" class="col-card">
        <ion-card class="adv-map">

          <div style="position: relative">
            <ion-slides autoplay="3000" loop="true" speed="3000" *ngIf="offer.images" (click)="editOffer(offer.$key)">
              <ion-slide *ngFor="let image of offer.images">
                <img src="{{image}}" width="100%" height="100%" />
              </ion-slide>
            </ion-slides>
            <ion-slides autoplay="3000" loop="true" speed="3000" *ngIf="!offer.images" (click)="editOffer(offer.$key)">
              <ion-slide *ngFor="let tempImage of tempImages">
                <img src="{{tempImage}}" width="100%" height="100%" />
              </ion-slide>
            </ion-slides>
            <ion-fab right top>
              <button ion-fab color="primary" class="fab-map" (click)="shareOffer(offer)">
                <ion-icon name="share"></ion-icon>
              </button>
            </ion-fab>
          </div>

          <ion-item (click)="editOffer(offer.$key)">
            <i class="fa fa-address-book fa-2x" large item-left aria-hidden="true" color="secondary"></i>
            <h2>{{offer.name}}</h2>
            <p>{{offer.neighborhood}} - {{offer.city}}</p>
          </ion-item>

          <ion-row *ngIf="(offer.type !== 'ground') && offer.components" actions (click)="editOffer(offer.$key)" padding>
            <ion-col class="button-component" col-xs-3>
              <button color="primary" ion-button icon-left outline small text-capitalize>
                <i class="fa fa-bath fa-lg" aria-hidden="true"></i>
                <div class="number-icon">&nbsp;{{offer.components.bathrooms || 0}}</div>
              </button>
            </ion-col>
            <ion-col class="button-component" col-xs-3>
              <button color="primary" ion-button icon-left outline small text-capitalize>
                <i class="fa fa-bed fa-lg" aria-hidden="true"></i>
                <div class="number-icon">&nbsp;{{offer.components.rooms || 0}}</div>
              </button>
            </ion-col>
            <ion-col class="button-component" col-xs-3>
              <button color="primary" ion-button icon-left outline small text-capitalize>
                  <i class="fa fa-car fa-lg" aria-hidden="true"></i>
                  <div class="number-icon">&nbsp;{{offer.components.parkings || 0}}</div>
                </button>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-item>
                <ion-icon name="eye" item-start></ion-icon>
                Visitas a tu oferta
                <ion-badge class="views-number" color="secondary" item-end>{{offer.views || 0}}</ion-badge>
              </ion-item>
          </ion-row>

          <ion-row>
            <ion-col (click)="editOffer(offer.$key)" col-sm-4 no-padding>
              <button color="secondary" ion-button icon-left clear small text-capitalize>
                  <ion-icon name="logo-usd"></ion-icon>                  
                  <div>{{offer.price | number}}</div>
                </button>
            </ion-col>
            <ion-col (click)="editOffer(offer.$key)" col-sm-4 no-padding>
              <button ion-button icon-left clear small text-capitalize>
                <i class="fa fa-area-chart" aria-hidden="true"></i>
                <div>&nbsp;{{offer.area}} m<sup>2</sup></div>
              </button>
            </ion-col>
            <ion-col col-sm-4 no-padding text-end>
              <button ion-button icon-left clear small color="danger" (click)="showRemoveDialog(offer)" text-capitalize>
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="goToAddOffer()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>

<no-auth *ngIf="!(user | async)?.uid"></no-auth>