offers-list {
  on-card.adv-map p {
    font-size: 0.7em !important;
  }
  button[fab].fab-map {
    top: calc(100% - 35px);
    z-index: 50;
  }
  .item-bold {
    font-weight: bold;
  }
  ion-content.cards-bg {
    padding-top: 5em !important;
    background-color: #f4f4f7;
  }
  .scroll-content {
    padding-bottom: 4.5em;
  }
  .swiper-container {
    height: 200px !important;
  }
  .info-title {
    color: #9c27b0 !important;
  }
  .info-content {
    text-align: justify !important;
  }
  .remove-button {
    color: #d43f3a;
    background-color: #FFF;
  }
  .number-icon {
    font-size: 1.4em !important
  }
  .views-number {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  offers-list {
    .col-card {
      min-height: 363px !important;
    }
    .info-title {
      font-size: 2.5em;
    }
    .info-content {
      font-size: 2em;
    }
  }
}
@media (max-width: 768px) {
  offers-list {
    .button-component {
      width: 25% !important;
    }
  }
}
